<html>
<head>

<!-- Bootstrap css files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">

	<title></title>
</head>
<body>


<form action="/courses" method="post"> 
		<input type="text" id="c_level" name="c[level]" placeholder="Course level (###)" value="<%= @new_c.level %>">
		<input type="text" id="c_start_date" name="c[start_date]" value="<%= @new_c.start_date %>">
		<input type="text" id="c_professor_id" name="c[professor_id]" value="<%= @new_c.subject_id %>">
		<input type="text" id="c_subject_id" name="c[subject_id]" value="<%= @new_c.subject_id %>"> 
		<input type="submit">
</form>



<!-- Bootstrap javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html> 








