<ul>
	<% @subjects.each do |s| %>
	<li><%= s.name %>
			<%= s.department %>
	<a href = "/subjects/<%= s.id %>">DELETE?</a>
	<a href = "/subjects/<%= s.id %>/edit">EDIT?</a>
	<a href = "/subjects/new">ADD?</a>
	</li>

	<% end %>
</ul>